<div class="customer-info-form-container">
  <div class="img">
    <img class="form-image" src="../../../assets/amico.png" alt="" />
  </div>
  <div>
    <div class="select-container">
      <label for="customerselect" class="form-label"
        >Select Customer Type</label
      >
      <select
        class="form-select mb-3"
        name="customertype"
        id="customerselect"
        [(ngModel)]="customerType"
        (ngModelChange)="onCustomerTypeChange($event)"
      >
        <option selected>Individual Customer</option>
        <option>Corporate Customer</option>
      </select>
    </div>
    <form
      class="customer-info-form"
      [formGroup]="customerInfoForm"
      (ngSubmit)="onSubmit()"
    >
      <div
        class="individual-customer-form"
        *ngIf="customerType === 'Individual Customer'"
      >
        <div class="mb-3">
          <label for="name" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="firstName"
          />
          <p
            class="error-message"
            *ngIf="
              customerInfoForm.get('firstName')?.invalid &&
              customerInfoForm.get('firstName')?.touched
            "
          >
            First name field is required.
          </p>
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            formControlName="lastName"
          />
          <p
            class="error-message"
            *ngIf="
              customerInfoForm.get('lastName')?.invalid &&
              customerInfoForm.get('lastName')?.touched
            "
          >
            Last name field is required.
          </p>
        </div>
        <div class="mb-3">
          <label for="nationalid" class="form-label">National Identity</label>
          <input
            type="number"
            class="form-control"
            id="nationalid"
            formControlName="nationalIdentity"
          />
          <p
            class="error-message"
            *ngIf="
              customerInfoForm.get('nationalIdentity')?.invalid &&
              customerInfoForm.get('nationalIdentity')?.touched
            "
          >
            National ID field is required.
          </p>
        </div>
        <div class="mb-3">
          <label for="birthdate" class="form-label">Date of Birth</label>
          <input
            id="date"
            class="form-control"
            type="date"
            id="birthdate"
            formControlName="dateOfBirth"
            [max]="dateOfToday"
          />
          <p
            class="error-message"
            *ngIf="
              customerInfoForm.get('dateOfBirth')?.invalid &&
              customerInfoForm.get('dateOfBirth')?.touched
            "
          >
            Date of birth field is required.
          </p>
        </div>
      </div>
      <div
        class="corporate-customer-form"
        *ngIf="customerType === 'Corporate Customer'"
      >
        <div class="mb-3">
          <label for="cname" class="form-label">Company Name</label>
          <input
            type="text"
            class="form-control"
            id="cname"
            formControlName="companyName"
          />
          <p
            class="error-message"
            *ngIf="
              customerInfoForm.get('companyName')?.invalid &&
              customerInfoForm.get('companyName')?.touched
            "
          >
            Company name field is required.
          </p>
        </div>
        <div class="mb-3">
          <label for="tax" class="form-label">Tax Number</label>
          <input
            type="number"
            class="form-control"
            id="tax"
            formControlName="taxNumber"
          />
          <p
            class="error-message"
            *ngIf="
              customerInfoForm.get('taxNumber')?.invalid &&
              customerInfoForm.get('taxNumber')?.touched
            "
          >
            Tax number field is required.
          </p>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button
          type="button"
          class="btn btn-secondary mx-3"
          (click)="onReset()"
        >
          Reset
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="customerInfoForm.invalid"
        >
          Next
        </button>
      </div>
    </form>
  </div>
</div>
