<div class="corporate-customer">
  <div class="list-title corporate-title">
    <strong>ID</strong>
    <strong>Company Name</strong>
    <strong>Tax Number</strong>
  </div>
  <div
    class="list-item corporate-item"
    *ngFor="let detail of corporateCustomerDetails"
  >
    <strong class="responsive-id"> {{ detail.customerId }} </strong>
    <div class="list-item-content">
      <fa-icon class="list-item-icon" [icon]="companyIcon"></fa-icon>
      <p>
        {{ detail.companyName }}
      </p>
    </div>
    <div class="list-item-content">
      <fa-icon class="list-item-icon" [icon]="taxIcon"></fa-icon>
      <p>{{ detail.taxNumber }}</p>
    </div>
  </div>
</div>
