<div [ngClass]="{ show: isActive }" class="sidebar-container">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
    <a
      class="image-link d-flex align-items-center justify-content-center mb-3 mb-md-0 text-white text-decoration-none"
    >
      <img
        src="https://www.etiya.com/files/logo.svg"
        alt=""
        width="128"
        height="64"
        class="rounded-circle me-2"
        (click)="onLogo()"
      />
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a
          (click)="onNavClick()"
          routerLink="/homepage/services"
          routerLinkActive="active"
          class="nav-link text-white"
        >
          <fa-icon class="sidebar-icon" [icon]="servicesIcon"></fa-icon>
          <p>Services</p>
        </a>
      </li>
      <li>
        <a
          (click)="onNavClick()"
          routerLink="/homepage/customers"
          routerLinkActive="active"
          class="nav-link text-white"
        >
          <fa-icon class="sidebar-icon" [icon]="customersIcon"></fa-icon>
          <p>Customers</p>
        </a>
      </li>
      <li>
        <a (click)="onNavClick()" class="nav-link text-white">
          <fa-icon class="sidebar-icon" [icon]="profileIcon"></fa-icon>
          <p>Profile</p>
        </a>
      </li>
      <li>
        <a (click)="onNavClick()" class="nav-link text-white">
          <fa-icon class="sidebar-icon" [icon]="settingsIcon"></fa-icon>
          <p>Settings</p>
        </a>
      </li>
    </ul>
    <div>
      <a class="icon-container" (click)="logout()">
        <fa-icon
          class="sidebar-icon"
          class="logout-icon"
          [icon]="logoutIcon"
        ></fa-icon>
        <p>Logout</p>
      </a>
    </div>
  </div>
</div>
